@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-scrollbar {
    /* WebKit-based browsers */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #2a2a2a;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #121212;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }

    /* Firefox-based browsers */
    scrollbar-width: thin;
    scrollbar-color: #1e7c1e #001f04;
  }

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    .dark .custom-scrollbar {
      &::-webkit-scrollbar-track {
        background: #2a2a2a;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #121212;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }

      scrollbar-color: #1e7c1e #f8f8f8;
    }
  }
}

/* Custom styles for the emoji picker */
.emoji-picker-react {
  --emoji-picker-background: #1a1a1a; /* Background color of the picker */
  --emoji-picker-text-color: #ffffff; /* Text color (including emoji) */
}

.emoji-picker-react .emoji-picker-react .emoji-mart-bar {
  background-color: #333; /* Background color of the top bar */
}

.emoji-picker-react .emoji-picker-react .emoji-mart-bar .emoji-mart-bar-item {
  color: #fff; /* Color of the items in the top bar */
}

.emoji-picker-react .emoji-picker-react .emoji-mart-bar .emoji-mart-bar-item:hover {
  background-color: #444; /* Hover background color of the items in the top bar */
}

.emoji-picker-react .emoji-picker-react .emoji-mart-search input {
  background-color: #333; /* Background color of the search input */
  color: #fff; /* Text color of the search input */
}

.emoji-picker-react .emoji-picker-react .emoji-mart-category {
  color: #fff; /* Color of the category labels */
}
